# Version control
.git
.gitignore

# Node.js
node_modules


# Development and IDE files
.vscode


# Build outputs
dist
build
coverage

# Environment files
.env
.env.local
.env.*
*.env

# Docker
Dockerfile
.docker
docker*.yml

# Documentation
*.md

# Test files
__tests__
*.test.js
*.spec.js
